device_type: qemu
job_name: {{ job_name }}
timeouts:
  job:
    minutes: 60
  action:
    minutes: 60
  connection:
    minutes: 2
priority: 25
visibility: public
context:
  arch: aarch64
  machine: virt,secure=on
  cpu: cortex-a57
  guestfs_interface: virtio
  netdevice: user
actions:
- deploy:
    timeout:
      minutes: 15
    to: tmpfs
    images:
      1rootfs:
        image_arg: -drive id=disk1,file={1rootfs},if=none,format=raw -device virtio-blk-device,drive=disk1
          -nographic -device i6300esb,id=watchdog0 -m 2048 -smp 4
        url: {{ os_url }}
        {%- set _, os_extension = splitext(os_url) %}
        compression: {{ os_extension[1:] }}
      2bios:
        image_arg: -drive if=pflash,unit=0,readonly=off,file={2bios},format=raw
        url: {{ firmware_url }}
        {%- set _, firmware_extension = splitext(firmware_url) %}
        compression: {{ firmware_extension[1:] }}
    os: oe


# boot to uboot
- boot:
    timeout:
      minutes: 2
    method: qemu
    media: tmpfs
    docker:
      image: chaws/qemu-master-swtpm:latest
      binary: /usr/local/bin/qemu-system-aarch64-swtpm
    expect_shell: false
    auto_login:
      login_prompt: 'Hit any key to stop autoboot'
      username: " "
    parameters:
      kernel-start-message: "Booting Trusted Firmware"
    prompts:
    - '=>'
    boot_finished:
    - '=>'

# configure to boot the image
- test:
    timeout:
      minutes: 10
    interactive:
    - name: basic-cmds
      prompts: ['=> ', 'Booting:']
      script:
      - command: "virtio scan"
      - command: "ls virtio 0"
      - command: "efidebug boot add -b 1 BootLedge virtio 0:1 efi/boot/bootaa64.efi -i virtio 0:1 ledge-initramfs.rootfs.cpio.gz -s 'console=ttyAMA0,115200 root=/dev/vda2 rootwait panic=60'"
      - command: "efidebug boot order 1"
      - command: "bootefi bootmgr"

# wait for boot to userspace
- boot:
    timeout:
      minutes: 20
    method: minimal
    reset: false
    auto_login:
      login_prompt: 'login:'
      username: "root"
      login_commands:
        - sudo su -
    prompts:
      - ewaol@(.*):[/~]\$
      - root@(.*):[/~]#

