{% include "%s_base.yaml.jinja2" % settings.LAVA_DEVICE %}

# Check PCR7 for measured boot
- test:
    timeout:
      minutes: 3
    definitions:
      - repository: https://github.com/K1504296/test-definitions.git
        from: git
        path: automated/linux/measured-boot/measured-boot-enable-check-PCR7.yaml
        name: measured-boot-enabled-PCR7

# boot to uboot again to prepare changing PCR-7
- boot:
    timeout:
      minutes: 2
    method: qemu
    media: tmpfs
    docker:
      image: chaws/qemu-master-swtpm:latest
      binary: /usr/local/bin/qemu-system-aarch64-swtpm
    expect_shell: false
    auto_login:
      login_prompt: 'Hit any key to stop autoboot'
      username: " "
    parameters:
      kernel-start-message: "Booting Trusted Firmware"
    prompts:
    - '=>'
    boot_finished:
    - '=>'

# Check board is booting with measured boot enabled by changing PCR7
- test:
    timeout:
      minutes: 7
    definitions:
      - repository: https://github.com/K1504296/test-definitions.git
        from: git
        path: automated/linux/measured-boot/measured-boot-enable-badboot.yaml
        name: measured-boot-enabled

# LAVA test case for measured boot, test should match string "integrity check failed" and return success. Afterwards the test should timeout.
- test:
    timeout:
      minutes: 2
      skip: true
    interactive:
    - name: measuredboot
      prompts: ["=>", "/ # "]
      echo: discard
      script:
      - name: measured-boot
        command: "bootefi bootmgr"
        successes:
        - message: "integrity check failed"
        failures:
        - message: "login:"
          error: "measured boot failed"
