{% include "%s_base.yaml.jinja2" % settings.LAVA_DEVICE %}

# Check Secure Boot is enabled
- test:
    timeout:
      minutes: 5
    definitions:
      - repository: https://gitlab.com/Linaro/trustedsubstrate/lava-tests.git
        from: git
        path: definitions/secure-boot/secure-boot-enable.yaml
        name: secure-boot-enabled
